*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:  #f0ecec;

    line-height: 1.5;

}

.both{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    
    
    align-items: center;
}


.rg{
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 450px;
    gap:20px
   
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.fontsp{
    margin-left: 110px;
    font-size: 22px;
    line-height: 1.5;
  
}


.btc{
    display: flex;
    padding: 30px;
    gap:10px;
    margin-left: 81px;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.first{
   background-color: #2563eb;
    color: white;
    border: none
}
.sec{
    background-color: white;
    color: #2563eb;
    border: 2px solid #2563eb;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 120px 180px;
}

.left{
    width: 50%;
}

.socials{
    display: flex;
    gap: 20px;
    margin-top: 25px;
      margin-left: 105px;
}

.socials a{
    display: flex;
    justify-content: center;
    align-items: center;
   

    width: 45px;
    height: 45px;
    background: white;

    border-radius: 50%;
    text-decoration: none;
}

.imgsp img{
    width: 450px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}


.ims img{
    margin-left: 290px;
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}


.abtpg{
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* padding: 100px; */



}
.right{
    display: flex;
    flex-direction: column;
}

.info{
    margin-bottom: 30px;
    margin-left: 50px;
}

.cards{
    display: flex;
    margin-left: 50px;
    gap: 20px;
}

.card{
    width: 180px;

    padding: 20px;

    background: white;

    border-radius: 15px;

    text-align: center;
}
.pro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 90px;
}

.Overview{
    padding: 100px;
}

.pr{
    text-align: center;
    margin-bottom: 50px;
}

.cad{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.pcard{
    width: 320px;

    background: white;

    border-radius: 20px;

    overflow: hidden;
}

.pcard img{
    width: 100%;
    height: 200px;

    object-fit: cover;

    display: block;
}
.pinfo{
    padding: 20px;
}

.pinfo p{
    margin: 15px 0;
}

.pinfo a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.container{
    width:90%;
    margin:0 auto;

    max-width: 1950px;
}

.section-title{
    font-size: 2rem;
    margin-bottom: 25px;

}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.contact-item {
    font-size:1.1rem;
    display: flex;
    gap:20px;
    align-items: center;

}

/* .contact-item i{
    
} */

.contact-form{
    background:#fff;
    padding:35px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgb(0,0,0,0.5);

}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid black;


}

.contact-form button{
    border:none;
    cursor: pointer;
    background-color: #007bf0;
    color: white;
    font-size: 16px;
    width:150px;
    height:45px;
    border-radius: 5px;

}