.card{
  
    width:200px;
    display:inline-block;
    margin-right:15px;
    box-shadow:0 0 8px rgba(0,0,0,0.3);
    vertical-align:top;
}
.name{
    margin: 8px;
    font-weight: bold;
    font-size: 18px;
    padding-right:5px ;
}

.pic{
    width:200px;
    height:200px;
    object-fit:cover;
}
.friends{
    margin: 8px;
}

.but{
    margin: 8px;


    background-color: rgba(40, 97, 239, 0.816);
    padding: 10px 10px 10px 10px;
    color: white;
    border: none;
    border-radius: 2px;
}
