.pic{
  
    margin-right: 18px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;

}

.pic1{
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}